{% extends 'index.html' %}

{% block content %}


<div class="container-fluid">
    <div class="d-flex justify-content-between mb20">
        <h1 class="title-bar">All Hotels</h1>
        <div class="title-actions">
            <a href="{% url 'addname'%}" class="btn btn-primary">Add new hotel</a>
        </div>
    </div>
    <div class="filter-div d-flex justify-content-between ">
        <div class="col-left">
            <form method="post" action="#bulkEdit" class="filter-form filter-form-left d-flex justify-content-start">
                <input type="hidden" name="_token" value="s3KHkToMYm9j4oZ3Lq9dySm9otNLUTrbxsA5Iu5B">
                <select name="action" class="form-control">
                    <option value=""> Bulk Actions </option>
                    <option value="publish"> Publish </option>
                    <option value="draft"> Move to Draft </option>
                    <option value="pending">Move to Pending</option>
                    <option value="delete"> Delete </option>
                </select>
                <button data-confirm="Do you want to delete?" class="btn-info btn btn-icon dungdt-apply-form-btn"
                    type="button">Apply</button>
            </form>
        </div>
        <div class="col-left">
            <form method="get" action="#/hotel "
                class="filter-form filter-form-right d-flex justify-content-end flex-column flex-sm-row" role="search">
                <select id="select_vendor_id" class="form-control dungdt-select2-field select2-hidden-accessible"
                    data-options="{&quot;ajax&quot;:{&quot;url&quot;:&quot;https:\/\/sandbox.bookingcore.org\/admin\/module\/user\/getForSelect2&quot;,&quot;dataType&quot;:&quot;json&quot;,&quot;data&quot;:{&quot;user_type&quot;:&quot;vendor&quot;}},&quot;allowClear&quot;:true,&quot;placeholder&quot;:&quot;-- Vendor --&quot;}"
                    name="vendor_id" data-select2-id="select_vendor_id" tabindex="-1" aria-hidden="true">
                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                    data-select2-id="1" style="width: 200px;"><span class="selection"><span
                            class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                            aria-expanded="false" tabindex="0"
                            aria-labelledby="select2-select_vendor_id-container"><span
                                class="select2-selection__rendered" id="select2-select_vendor_id-container"
                                role="textbox" aria-readonly="true"><span class="select2-selection__placeholder">--
                                    Vendor --</span></span><span class="select2-selection__arrow" role="presentation"><b
                                    role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                        aria-hidden="true"></span></span>
                <input type="text" name="s" value="" placeholder="Search by name" class="form-control">
                <button class="btn-info btn btn-icon btn_search" type="submit">Search</button>
            </form>
        </div>
    </div>


    <div class="text-right">
        <p><i>Found 12 items</i></p>
    </div>
    <div class="panel">
        <div class="panel-body">
            <form action="post" class="bravo-form-item">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="60px"><input type="checkbox" class="check-all"></th>
                                <th> Name</th>
                                <th width="200px"> Location</th>
                                <th width="130px"> Author</th>
                                <th width="100px"> Status</th>
                                <th width="100px"> Reviews</th>
                                <th width="100px"> Date</th>
                                <th width="100px"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr class='publish'>


                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {





        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:8000/h/hotel/",
            dataType: "json",
            success: function (response) {
                if (response) {

                    items = []
                    for (let index = 0; index < response.length; index++) {
                        const element = response[index];

                        console.log(element.id)
                        items += "<tr class='publish'><td><input type='checkbox' name='ids["+element.id+"]' class='check-item' value="+element.id+"></td><td class='title'>" + element.name + "</tb><td class='title'>" + element.name + "</tb><td class='title'>" + element.Content + "</tb><td class='title'>" + element.name + "</tb><td class='title'>" + element.name + "</tb><td class='title'>" + element.name + "</tb><td><div class='dropdown'><button class='btn btn-sm btn-info dropdown-toggle' type='button'id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Action</button><div class='dropdown-menu' aria-labelledby='dropdownMenuButton'><a class='dropdown-item' href='#edit/12'>Edit hotel</a><a class='dropdown-item' href='#room/12/index'>Manage Rooms</a><a class='dropdown-item' href='#12/availability'>Manage Rooms Availability</a></div></div></td></tr>"


                    }
                    $("tbody").append(items);

                }
                else {
                    alert("noting response")
                }


            }
        });



    });
</script>

{% endblock %}