
{%load static %}

{%block content%}
<form>
    <div class="row ">
      <div class="col">

        <label>name</label>

        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col ">
        <label>last name</label>

        <input type="text" class="form-control" placeholder="Last name">

      </div>
      
    </div>
    <div class="row ">
        <div class="col">
  
          <label>name</label>
  
          <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col ">
          <label>last name</label>
  
          <input type="text" class="form-control" placeholder="Last name">
  
        </div>
        
      </div>
    </form>
  </form>
{%endblock%}